[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ilodrivers-openstack
	owner = group user/hpproliant
[access "refs/for/refs/*"]
	read = group ilodrivers-openstack
	read = group user/hpproliant
	push = group ilodrivers-openstack
	push = group user/hpproliant
	label-Code-Review = -2..+2 group ilodrivers-openstack-cores
	label-Verified = -1..+1 group ilodrivers-openstack
	label-Verified = -1..+1 group user/hpproliant
	rebase = group ilodrivers-openstack
	rebase = group user/hpproliant
	removeReviewer = group ilodrivers-openstack
	removeReviewer = group user/hpproliant
	submit = group ilodrivers-openstack-cores
[access "refs/heads/*"]
	read = group ilodrivers-openstack
	read = group user/hpproliant
	create = group ilodrivers-openstack
	create = group user/hpproliant
	push = group ilodrivers-openstack
	push = +force group ilodrivers-openstack-cores
	push = +force group user/hpproliant
	pushMerge = group ilodrivers-openstack
	pushMerge = group user/hpproliant
[access "refs/tags/*"]
	push = +force group user/hpproliant
	pushTag = group user/hpproliant
	pushSignedTag = group user/hpproliant
