[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hpproliant
[access "refs/for/refs/*"]
	read = group user/hpproliant
	push = group user/hpproliant
	label-Code-Review = -2..+2 group user/hpproliant
	label-Verified = -1..+1 group user/hpproliant
	rebase = group user/hpproliant
	removeReviewer = group user/hpproliant
	submit = group user/hpproliant
[access "refs/heads/*"]
	read = group user/hpproliant
	create = group user/hpproliant
	push = +force group user/hpproliant
	pushMerge = group user/hpproliant
[access "refs/tags/*"]
	push = +force group user/hpproliant
	pushTag = group user/hpproliant
	pushSignedTag = group user/hpproliant
